<launch>

  <arg name="ball_color" default="blue" doc="Min threshould of lightness."/>
  <arg name="image" default="camera/image" doc="The image topic. Should be remapped to the name of the real image topic."/>


  <!-- image_publisher.cpp -->
  <node name="image_publisher" pkg="found_ball" type="image_publisher" output="screen" />

  <!-- ball_tracking.cpp -->
  <node name="ball_tracking" pkg="found_ball" type="ball_tracking" output="screen" >
    <remap from="image" to="$(arg image)" />
    <param name="ball_color" value="$(arg ball_color)" />
  </node>

  <!-- copter_control.cpp -->
  <node name="copter_control" pkg="found_ball" type="copter_control" output="screen" />

</launch>
