<launch>
  <arg name="ball_color" value="blue" doc="Choose blue,orange or red"/>


  <!-- ball_tracking.cpp -->
  <node name="ball_tracking" pkg="found_ball" type="ball_tracking" output="screen" >
    <rosparam param="ball_color" subst_value="True">
      $(arg ball_color)
    </rosparam>
  </node>

  <!-- copter_control.cpp -->
  <node name="copter_control" pkg="found_ball" type="copter_control" output="screen" />

  <!-- web_video_server.cpp -->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen" />

</launch>
